@page "/echo"
@using Subfloor.Templates.Blazor.Shared

@inject HttpClient Http

@attribute [Authorize]

<PageTitle>Echo</PageTitle>

<h1>Echo</h1>

<p role="status">Api Result: @echoValue</p>

Echo: <input @bind="@inputValue" />
<button class="btn btn-primary" @onclick="EchoInput">Click me</button>

@code {
    private string inputValue = "enter a value";
    private string echoValue = "";

    private async Task EchoInput()
    {
        echoValue = await Http.GetStringAsync($"api/echo/{inputValue}");
    }


}
